<section class="cart-section">
    <div class="cart-container">
      <div class="cart-content">
        <div class="cart-items">
          <ul class="cart-list">
            <li class="cart-item">
              <div class="cart-item-image">
                <span class="item-number">1</span>
                <img class="item-image" src="https://images.unsplash.com/photo-1588484628369-dd7a85bfdc38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNuZWFrZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=150&q=60" alt="" />
              </div>
  
              <div class="cart-item-details">
                <div class="cart-item-info">
                  <p class="item-name">Nike Air Max 2019</p>
                  <p class="item-size">36EU - 4US</p>
                </div>
  
                <div class="cart-item-price">
                  <p class="item-price">$1259.00</p>
                </div>
              </div>
  
              <div class="cart-item-actions">
                <button type="button" class="remove-item-button">
                  <svg class="remove-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" class=""></path>
                  </svg>
                </button>
              </div>
              <div class="quantity">
                <p>Quantity :</p>
                <div class="count">{{quantity}}</div>
                <div class="inc-dec">
                  <button class="add" (click)="increment()">+</button>
                  <button class="sub" (click)="decrement()">-</button>
                </div>
              </div>
            </li>
            
          </ul>
          
        </div>
  
        <div class="cart-summary">
          <div class="subtotal">
            <p class="subtotal-label">Subtotal</p>
            <p class="subtotal-amount">$2399.00</p>
          </div>
          <div class="shipping">
            <p class="shipping-label">Shipping</p>
            <p class="shipping-amount">$8.00</p>
          </div>
          <div class="total">
            <p class="total-label">Total</p>
            <p class="total-amount">$2499.00</p>
          </div>
        </div>
  
        <div class="place-order-button">
          <button type="button" class="place-order-btn">Place Order</button>
        </div>
      </div>
    </div>
  </section>
  