.cart-section {
    height: 100vh;

    padding: 3rem 0;
  }
  

  .cart-container {
    max-width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Cart content styles */
  .cart-content {
    padding: 2rem;
  }
  
  /* Cart items styles */
  .cart-items {
    margin-bottom: 2rem;
  }
  
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d5db;
    padding-bottom: 1.5rem;
  }
  
  .cart-item-image {
    position: relative;
    margin-right: 1.5rem;
  }
  
  .item-number {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: #4b5563;
  }
  
  .item-image {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-info {
    margin-bottom: 0.75rem;
  }
  
  .item-name {
    font-size: 1.125rem;
    font-weight: bold;
    color: #374151;
    margin-bottom: 0.25rem;
  }
  
  .item-size {
    font-size: 0.875rem;
    color: #6b7280;
  }
  
  .cart-item-price {
    font-size: 1.125rem;
    font-weight: bold;
    color: #4b5563;
  }
  
  .cart-item-actions {
    margin-left: auto;
  }
  
  .remove-item-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .remove-icon {
    fill: #9ca3af;
  }
  
  .remove-icon:hover {
    fill: #4b5563;
  }
  
  /* Cart summary styles */
  .cart-summary {
    border-top: 1px solid #d1d5db;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
  }
  
  .subtotal-label,
  .shipping-label,
  .total-label {
    font-size: 1.125rem;
    color: #6b7280;
  }
  
  .subtotal-amount,
  .shipping-amount,
  .total-amount {
    font-size: 1.125rem;
    font-weight: bold;
    color: #4b5563;
  }
  
  /* Place order button styles */
  .place-order-button {
    text-align: center;
  }
  
  .place-order-btn {
    background-color: #f97316;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .place-order-btn:hover {
    background-color: #d97706;
  }
  .quantity {
    flex: 1;
    display: flex;
    align-items: center;
}

.count {
    margin: 0 12px;
    font-size: 20px;
}

.inc-dec button {
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}