<div class="container">
  <div
    class="product"
    *ngFor="let item of productData | filterItems : searchList; let id = index"
  >
    <img [src]="item.thumbnail" alt="Product Image" class="product-image" />
    <h2 class="product-title">{{ item.title }}</h2>
    <p class="product-price">RS: {{ item.price }}</p>
    <p class="additional-details">
      Some additional details
      <a [routerLink]="['/product', 'product-details']" [state]="item"
        ><span class="additional">here</span></a
      >
    </p>
    <p class="min-order-quantity">
      Min Order Quantity: {{ item.minimumOrderQuantity }}
    </p>
    <div class="product-card-footer">
      <button class="add-to-cart" (click)="addToCart(item)">Add to Cart</button>
      <p class="rating">{{ item.rating }}⭐</p>
    </div>
    <div class="product-card-footer">
      <button class="delete" (click)="delete(id)">Delete</button>

      <button class="update" (click)="updateProduct(item, id)">Update</button>
    </div>
  </div>
</div>
<app-product-update
  *ngIf="showUpdateForm"
  [updateProductData]="updateProductData"
  (applyProductUpdate)="applyProductUpdate($event)"
></app-product-update>
